body {
  font-family: "PT Sans Caption", sans-serif;
  background-color: #f7ecde;
  position: relative;
  height: 100vh;
}

h1 {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", sans-serif;
}

:root {
  --color-main: #fec260;
  --color-black: #000;
  --color-gradient-green: #3ca55c;
  --color-gradient-yellow: #b5ac49;
  --color-btn: #d1512d;
  --color-btn-hover: #bb4120;
  --color-white: #fff;
  --color-overlay: rgba(0, 0, 0, 0.5);
}

/*================================*/
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.bookmark-icon::before {
  font: var(--fa-font-solid);
  content: "\f02e";
}
.bookmark-icon::after {
  font: var(--fa-font-solid);
  content: "\f02e";
}

::-moz-selection {
  color: #000;
  background: var(--color-main);
}

::selection {
  color: #000;
  background: var(--color-main);
}

/*================================*/
/* ======================================= */

.bookmark .site-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}
.bookmark .site-heading span {
  position: relative;
}
.bookmark .site-heading span::after {
  content: "";
  width: 100%;
  height: 20px;
  background-color: var(--color-main);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.3s;
}

.bookmark .site-heading span:hover::after {
  height: 35px;
}

.bookmark-body {
  border-top: 2px dotted var(--color-black);
  border-bottom: 2px dotted var(--color-black);
}

.bookmark-body .sub-heading {
  background-image: linear-gradient(
    to right,
    var(--color-gradient-green),
    var(--color-gradient-yellow)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Righteous", cursive;
}

.bookmark-body .submit-btn {
  background-color: var(--color-btn);
  padding: 7px 50px;
  color: var(--color-white);
}

.bookmark-body .submit-btn:hover {
  background-color: var(--color-btn-hover);
}

.dialog-overlay {
  background-color: var(--color-overlay);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.dialog-overlay .dialog-context {
  background-color: var(--color-white);
  width: 500px;
  height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 7px;
}

.dialog-overlay .window-dots {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dialog-overlay .dots {
  display: flex;
  gap: 7px;
}
.dialog-overlay .dots span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.dialog-overlay .dots span:first-child {
  background-color: var(--color-btn-hover);
}

.dialog-overlay .dots span:nth-child(2) {
  background-color: var(--color-main);
}

.dialog-overlay .dots span:last-child {
  background-color: var(--color-gradient-green);
}

.dialog-overlay .dialog-content .icon-arrow {
  color: var(--color-btn-hover);
}
